RFQ_VIEWER_PG_HOST=rfq-viewer-db
RFQ_VIEWER_PG_PORT=5432
RFQ_VIEWER_PG_USER=postgres
RFQ_VIEWER_PG_PASSWORD=postgres
RFQ_VIEWER_PG_DB=rfq_viewer
RFQ_VIEWER_PG_SSLMODE=disable

RFQ_VIEWER_HTTP_ADDR=:8082
RFQ_VIEWER_NATS_URL=nats://nats:4222
RFQ_VIEWER_NATS_STREAM=RFQ_PARTS
RFQ_VIEWER_NATS_SUBJECT=rfq.parts.extracted
RFQ_VIEWER_NATS_DURABLE=rfq-viewer
RFQ_VIEWER_NATS_MAX_DELIVER=5
