RFQ_ALLOWED_DOMAINS=@example-a.com:1,@example-b.com:2,@example-c.com:3

RFQ_MINIO_ENDPOINT_URL=http://minio:9000
RFQ_MINIO_ACCESS_KEY=minioadmin
RFQ_MINIO_SECRET_KEY=minioadmin
RFQ_MINIO_BUCKET=rfq-emails
RFQ_MINIO_SECURE=false

RFQ_NATS_URL=nats://nats:4222
RFQ_NATS_STREAM=RFQ_EXTRACT
RFQ_NATS_SUBJECT=rfq.extract.requests

RFQ_GRAPH_TENANT_ID=consumers
RFQ_GRAPH_CLIENT_ID=your-secrect-client-id
RFQ_GRAPH_DELTA_LINK_PATH=/data/delta_link.txt
RFQ_GRAPH_TOKEN_CACHE_PATH=/data/token_cache.bin
RFQ_POLL_INTERVAL_SECONDS=60
